{% load static %}
{% for comment in comments %}
      <li>
       <div class="comment-block">
            <div class="comment-item__info">
                <span class="comment-item__user">
                    <span class="comment-item__avatar"></span>
                    <span class="comment-item__name">{{ comment.user.first_name }} {{ comment.user.last_name }}</span>
                </span>
                <time class="comment-item__date_pub">{{ comment.date_pub|date:"d-m-Y H:i:s" }}</time>
            </div>
           <div class="comment-item__text">{{ comment.text }}</div>
            {% if request.user.is_authenticated %}
                <a href="" class="btn comment-link" data-message-id="{{ message.id }}" data-parent-id="{{ comment.id }}">Комментировать</a>
            {% endif %}
       </div>
        {% if comment.children %}
            <ul>
            {% include 'app_wall/comment_list.html' with comments=comment.children %}
            </ul>
        {% endif %}
      </li>
{% endfor %}

